dist: trusty
sudo: required
language: node_js
node_js:
  - "6"
os:
  - linux
before_install:
  # Use a virtual display.
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  # Install latest chrome.
  - export CHROME_BIN=chromium-browser
install:
  - yarn
script:
  - yarn coverage
after_success:
  - cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
notifications:
 email: false
